.infoBlock {
    border-radius: 20px;
    background: #F0F0F0;

    &>p {
        padding: 23px 20px 29px;
        color: #000;
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}