.articles {
    &__track {
        display: flex;
        gap: 86px;
    }

    &__wrap {
        position: relative;
    }

    &__nav {
        position: absolute;
        display: none;
        width: 40px;
        height: 40px;
        border: none;
        background:#D1CFFF;       
        border-radius: 50%;
        bottom: 38%;        
        transition: background 0.5s linear;
        &:hover{
            background:darken(#D1CFFF,5)
        }
        & img{
            height: 10px;
        }
        &.active{
            display: block;
        }
        &--left {
            left: -20px;

        }

        &--right {
            right:-20px;

        }
    }

    & .card {
        width: 33%;
        max-width: 509px;
        & .card__rait{
            display: none;
        }
        & .card__text{
            display: block;
        }
    }
}