
.infoBlockSection{
    .button{
        display: block;
        margin: 40px auto 0;
    }
 
    &.row{
        .infoBlockSection__wrap{
            display: flex;
            justify-content: center;
            & .infoBlock{
                flex-grow: 1;
            }
        }
        &.comments{
            .infoBlockSection__wrap{
                gap: 40px;
            }  

        }
       
    }
    &.column{
        .infoBlockSection__wrap{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

}