.itemCourse {
    display: flex;
    gap: 18px;
    transition: transform 0.3s linear;

    &:hover {
        transform: scale(1.02);
        color: #353395;

    }

    &__desc {
        display: inline-flex;
        gap: 75px;
    }

    &__price {
        text-align: right;
        justify-content: flex-end;
        font-style: normal;
        width: 65px;
        line-height: normal;


        h5 {
            color: #1E1E1E;
            font-family: Bitter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            transition: color 0.3s linear;
        }

        h4 {
            position: relative;
            top: 2px;
            margin-inline-start: 5px;
            color: #1E1E1E;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: strikethrough;
            transition: color 0.3s linear;
        }

        span {
            color: #828282;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            text-decoration-line: strikethrough;
        }

    }

    &__text {
        width: 450px;
        text-align: left;
        gap: 10px;

        &>h4 {

            color: #1E1E1E;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Bitter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

        }
    }

    &__raite {
        display: flex;
        & span{
            margin-right: 8px;
        }
    }

    &.active {
        .itemCourse__price {
            h5 {
                color: #5D59FF;
            }

        }

    }
}
