.itemCourse {
    display: flex;
    gap: 18px;

    &__desc {
        display: flex;
        gap: 75px;
    }

    &__price {
        text-align: right;
        font-style: normal;
        line-height: normal;

        h5 {
            color: #1E1E1E;
            font-family: Bitter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }

        span {
            color: #828282;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            text-decoration-line: strikethrough;
        }

    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &>h4 {

            color: #1E1E1E;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Bitter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

        }
    }

    &__raite {
        display: flex;
        & span{
            margin-right: 8px;
        }
    }

    &.active {
        .itemCourse__price {
            h5 {
                color: #5D59FF;
            }

        }

    }
}